<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# le dashboard est à afficher par défaut si le titre n'est pas défini; là il est remplacé par le titre dans le fichier list_user.html.twig #}
        <title>MoiJv - {% block title %}Dashboard{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('list_user') }}">Liste des utilisateurs</a></li>
                     <li><a href="{{ path('list_product') }}">Liste des produits</a></li>
                    
                </ul>
            </nav>
        </header>
        
        
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
